<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>
    Web Spider!
  </title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="/javascripts/app.js"></script>
</head>

<body>

<div ng-app="spiderApp" ng-controller="spiderCtrl">
  <h1>Web Spider</h1>
  <div >
    Enter website url: <input ng-keyup="hasError=false;" ng-blur="validateUrl(url)" ng-class="{'error': hasError}" type="text" ng-model="url">
    <input type="button" value="Go!" ng-click="crawlUrl(url)"></input>
    <input type="button" value="Clear!" ng-click="clearData()"></input>
  </div>
  <div ng-show="showFileContent" >
    <h3> File Path on Server : {{filePath}}</h3>
    <textarea cols="100" rows="100" disabled="true" ng-model="fileContent"></textarea>

  </div>
</div>

</body>
</html>